* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #49777f;
    text-align: center;
}

.contener {
    height: 70vh;
    justify-content: center;
    align-items: center;
    display: flex;
}

.game {
    flex-wrap: wrap;
    height: 60vh;
    width: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box {
    height: 18vh;
    width: 18vh;
    background-color: #d9dad0;
    justify-content: center;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 rem rgb(0, 0, 0, 0.3);
    font-size: 8vmin;
    color: #b0413e;
}

button {
    background-color: black;
    color: white;
    font-size: 2rem;
    border-radius: 1vmin;
    cursor: pointer;
}

button:focus {
    outline: 2px solid #b0413e;
}

.mgs {
    padding: 15px;
    color: #ffffc7;
    font-size: 5vmin;
}

.msg-container {
    height: 20vmin;
}

.hide {
    display: none;
}